{sub_dirs, ["rel"]}.

{deps,
  [

    %% logging library
    {jiffy, ".*",     {git, "git://github.com/davisp/jiffy",
    {tag, "d16a4fd968e000b65e4678cccfad68d7a0a8bd1c"}}},
    %% http server library
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy",
    		   {tag, "master"}}},

    {ejwt, ".*", {git, "https://github.com/kato-im/ejwt.git"}}
  ]
}.
