{erl_opts, [
  debug_info,
  fail_on_warning,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_function,
  warn_unused_import,
  warn_unused_record,
  warn_unused_vars,
  {platform_define, "(linux|freebsd|darwin)", 'HAVE_SENDFILE'},
  {parse_transform, lager_transform},
  {lager_truncation_size, 256}
]}.

{sub_dirs, ["rel"]}.

{deps,
    [

        %% logging library
        {lager, ".*", {git, "https://github.com/basho/lager.git",
                       {tag, "2.0.3"}}},

        {jiffy, ".*",     {git, "git://github.com/davisp/jiffy",
                           {tag, "d16a4fd968e000b65e4678cccfad68d7a0a8bd1c"}}},
        %% http server library
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git",
                        {tag, "master"}}},

        {ejwt, ".*", {git, "https://github.com/kato-im/ejwt.git"}},
        {'3rd-base', ".*", {git, "git@gits-14.sys.kth.se:A-Teens/3rd-base.git", {tag, "master"}}},
	{'iso8601',    ".*",    {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}}
        ]
    }.
