%% ex: ft=erlang
[
    %% SASL config
    {sasl, [
            {sasl_error_logger, {file, "log/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "log/sasl"},      % Log directory
            {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
            {error_logger_mf_maxfiles, 5}           % 5 files max
            ]},
    {mnesia, [{dir, "priv/data/homebase"}]},
    {lager, [  %% Log configurations
            {handlers,[
                    {lager_console_backend, debug},
                    {lager_file_backend, [
                            {file, "log/debug.log"},
                            {level, debug}, {size, 104857600}, {date, "$D0"}, {count, 100},
                            {formatter_config, [date," ",time," [",severity,"] ",message," (",pid," ",module,":",line,")\n"]}
                            ]
                    },
                    {lager_file_backend, [
                            {file, "log/console.log"},
                            {level, notice}, {size, 104857600}, {date, "$D0"}, {count, 100},
                            {formatter_config, [date," ",time," [",severity,"] ",message," (",pid," ",module,":",line,")\n"]}
                            ]
                    },
                    {lager_file_backend, [
                            {file, "log/error.log"},
                            {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 100},
                            {formatter_config, [date," ",time," [",severity,"] ",message," (",pid," ",module,":",line,")\n"]}
                            ]
                    },
                    {lager_file_backend, [
                            {file, "log/stat.log"},
                            {level, '=alert'}, {size, 10485760}, {date, "$D0"}, {count, 100},
                            {formatter_config, [date," ",time,",",message,"\n"]}
                            ]
                    }]},
            {async_threshold, 10000},
            {error_logger_hwm, 100},
            {colored, true}
            ]},
    {fubar, [
            {node, "{{node_name}}" },
            {fubar_master, {{master}} },
            {mqtt_port, {{mqtt_port}} },
            {mqtts_port, undefined},
            {http_port, {{fubar_http_port}} },
            {cookie, <<"sharedsecretamongnodesofafubarcluster_youneedtochangethisforsecurity">>},
            {fubar_app, [
                    {dispatch, mqtt_dispatch}
                    ]},
            {mqtt_server, [
                    {auth, undefined}, %jwt_auth},
                    {address, "tcp://127.0.0.1:{{mqtt_port}}"}
                    ]}
            ]},
    {fubar_sysmon, [
            % 40% of the total physical memory set as a limit
            {high_watermark, 0.4},

            % System check interval in milliseconds
            {interval, 10000},

            % Start offloading to a node with 20% lower load
            {offloading_threshold, 1.2}
            ]},
    {apns, [
            {apple_host, "gateway.sandbox.push.apple.com"},
            {apple_port, 2195},
            {cert_file, "priv/apns-cert.pem"},
            {key_file, "priv/apns-key.pem"},
            {cert_password, undefined},
            {timeout, 30000},
            {feedback_port, 2196},
            {feedback_host, "feedback.sandbox.push.apple.com"},
            {feedback_timeout, 18000000}
    ]},
    {mnesia, [
            {dump_log_write_threshold, 5000},
            {dc_dump_limit, 4}]},
    {gcm, [
            {secret_file, "priv/gcm-key.secret"}
    ]},
    {homebase, [
            {jwt_secret, <<"This is a very secret secret, do not tell anyone.">>},
            {http_port, {{homebase_http_port}} },
            {user_api, [
                    {base_path, "http://localhost:8888"}
                    ]}
            ]},
    {'3rd-base', [
            {jwt_secret, <<"This is a very secret secret, do not tell anyone.">>}
            ]}
    ].
