[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {fubar, [
           {node, "fubar_baseball"},
           {master, undefined},
           {mqtt_port, 1883},
           {mqtts_port, undefined},
           {http_port, 8080},
           {cookie, <<"sharedsecretamongnodesofafubarcluster_youneedtochangethisforsecurity">>},
           {fubar_app, [
             {dispatch, mqtt_dispatch}
           ]},
           {mqtt_server, [
            {auth, undefined}
           ]}
          ]}
].

