[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},
  {mnesia, [{dir, "priv/data/homebase"}]},
  {lager,    %% Log configurations
    [
      {handlers,
        [
          {lager_console_backend,notice},
          {lager_file_backend,
            [
              {file, "log/console.log"},
              {level, notice}, {size, 104857600}, {date, "$D0"}, {count, 100},
              {formatter_config, [date," ",time," [",severity,"] ",message," (",pid," ",module,":",line,")\n"]}
            ]
          },
          {lager_file_backend,
            [
              {file, "log/error.log"},
              {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 100},
              {formatter_config, [date," ",time," [",severity,"] ",message," (",pid," ",module,":",line,")\n"]}
            ]
          },
          {lager_file_backend,
            [
              {file, "log/stat.log"},
              {level, '=alert'}, {size, 10485760}, {date, "$D0"}, {count, 100},
              {formatter_config, [date," ",time,",",message,"\n"]}
            ]
          }
        ]
      },
      {async_threshold, 10000},
      {error_logger_hwm, 100},
      {colored, true}
    ]
  },
{fubar, [
           {node, "fubar"},
           {master, undefined},
           {mqtt_port, 1883},
           {mqtts_port, undefined},
           {http_port, 8080},
           {cookie, <<"sharedsecretamongnodesofafubarcluster_youneedtochangethisforsecurity">>},
           {fubar_app, [
             {dispatch, mqtt_dispatch}
           ]},
           {mqtt_server, [
            {auth, undefined}
           ]}
          ]},
 {homebase, [
 	        {user_api,[
 	                   {base_path, "http://localhost:8888"}
 	                  ]}
	        ]}
].

